{% extends '@OroAction/Operation/form.html.twig' %}

{% block widget_content_inner %}
    <div class="alert" role="alert" style="max-width:550px;text-align:justify;font-size:14px;">
        <p style="margin-bottom: 10px;">{{ 'payever.order.payment_transaction.settle.message'|trans() }}</p>
        <p>{{ 'payever.order.payment_transaction.settle.message2'|trans() }}</p>
    </div>
    {{ parent() }}
{% endblock %}

{% block form_actions_inner %}
    <button type="reset" class="btn">{{ 'payever.actions.settle.button.cancelText'|trans }}</button>
    <button type="submit" class="btn btn-primary btn-settle">{{ 'payever.actions.settle.button.okText'|trans }}</button>
{% endblock %}